 
# AP VERSION
APP_NAME='TRAINER-ACTIVITY-REPORT'
VERSION='0.0.3'

# db local
MYSQL_USER=admin
MYSQL_PASS=admin123
MYSQL_DB=training
MYSQL_HOST=localhost
MYSQL_PORT=3306




HOST=localhost
PORT=3001

# token
JWT_SECRET=''
AUTH_TOKEN_EXPIRED_TIME_MINUTE=2880 # 2 hari

# token verify
OTP_TOKEN_EXPIRED_TIME_SECOND=300 # 5 menit
OTP_SENDER_EMAIL=''
OTP_SENDER_PASSWORD_EMAIL=''

# url service (internal API)
URL_OTHER_SERVICE='http://localhost:3000'

NODE_ENV=development
